* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

/*
   To Do List
   Input fields
*/
.input {
    padding: 0 15px 0 15px;
    border: 1px solid #cecece;
}

.input--stuff {
    max-width: 50%;
    width: 100%;
    transition: all 0.245s;
    height: 40px;
    line-height: 40px;
}

.input--error {
    border: 1px solid #ff0000;
}

.submit {
    text-decoration: none;
}

.submit--stuff {
    color: #008000;
    font-weight: bold;
}

.message--error {
    display: none;
    margin-top: 5px;
    color: #ff0000;
}

/*
    To Do List Items
 */

.todoList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todoList {
    margin: 10px 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.todoList li {
    border: 1px solid #e7e7e7;
    padding: 10px;
    width: 50%;
    position: relative;
    list-style: decimal inside;
    animation: fadeIn;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    transition: all 0.25s;
}

.todoList li:nth-child(odd) {
    background-color: #fbfbfb;
}

.todoList li:hover {
    background-color: #ededed;
}

.todoList li + li {
    border-top: 0 none;
}

.todoList .btn--removeListItem {
    position: absolute;
    top: 8px;
    right: 5px;
}

.removeListItem {
    color: #ff0000;
    text-decoration: none;
    font-size: 12px;
}

/*
    Buttons
 */
.btn {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.btn--removeEntireList {
    background-color: #ff0000;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.25s;
}

.btn--removeEntireList:hover {
    background-color: #d80000;
}

.btn--removeListItem {
    color: #ff0000;
    font-size: 12px;
    border: 1px solid red;
    padding: 3px 7px;
    transition: all 0.25s;
}

.btn--removeListItem:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.submit--stuff {
    background-color: #008000;
    padding: 0 10px 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all 0.25s;
}

.submit--stuff:hover {
    background-color: #006d00;
}